<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!--""" ARCHIVO DE CONFIGURACION DEL SERVLET """
	"spring_mvc_servlet.xml"
		INDICAMOS A SPRING, DONDE DEBE ESCANEAR COMPONENTES.
			EL PAQUETE "es.pildoras.spring.mvc".
		
		CONFIGURACIÓN DE CÓMO RESUELVE EL SERVIDOR DE SERVLET, LAS URL's DE LAS VISTAS.
			-INDICA_CLASE DE TURNO.
				-PREFIJO "/WEB-INF/vista/"
				-SUFIJO  ".jsp" 	
	 -->
	
	<!--  paquete a escanear en busca de componentes -->
	<context:component-scan base-package="es.pildoras.spring.mvc" />

	<mvc:annotation-driven/>

	<!-- Configuracion del view resolver-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/vista/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- PARA LA IMAGEN, LE DECIMOS DONDE ESTÁN LOS RECURSOS EXTERNOS
		 PONEMOS /**, PQ PUEDEN HABER MÁS COSAS DENTRO DE LA CARPETA RECURSOS -->
	<mvc:resources location="/recursos/" mapping="/recursos/**"></mvc:resources>
	
	
</beans>





